.header{
    background-color: #161616;
    height: 73px;
    width: 100%;
    position: relative;
    margin: 0px;
}

.header__menuBtn{
    background-color: hsl(0, 0%, 9%);
    position: absolute;
    left: 2%;
    top: 15%;
    margin: 0px;
}

.couv__home{
    width: 100%;
}
.header__logo{
    display: flex;
    justify-content: center;
    margin: 0px;
}

.header__langue{
    position: absolute;
    right: 2%;
    top: 20%;
    margin: 0px;
}
    
.couv{
    filter: grayscale(1);
    margin: 0px;
}

.menu{
    background-color: #323232;
}

.menu__item{
    background-color: #161616;
    border-radius: 5%;
    list-style-type: none;              
    
}

.card{
    justify-content: center;
    border-color: black;
}
.card__img{
    justify-content: center;
    width: 80%;
}

