.body{
    background-color: var(--main-color);
    margin: 0;
    max-width: 100%;
}

a:-webkit-any-link {
    cursor: pointer;
    color:var(--text-color);
    text-decoration: none;
}

.h1{
    color: var(--text-color);
    margin-left: 5%;
    margin-right: 5%;
    font-size: var(--heading-1);
}

.h2{
    color: var(--text-color);
    margin-left: 5%;
    margin-right: 5%;
}

.p{
    color: var(--text-color);
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Rubik', sans-serif;
    font-size: var(--body-1);
}

.langue__titre{
    color: var(--text-color);
    text-align: center;
}









