.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--menu-color);
    padding: 5%;
    color: var(--text-color);
    border-top: 2px solid var(--tonic-color);
    font-family: 'Titillium Web', sans-serif;
    font-size: var(--body-4);
    font-weight: lighter;
    
}



.footer__mail{
    margin: 0;
    text-decoration: underline;
    
}

.footer__contact{
    text-decoration: none;
    font-weight: bold;
}


.footer__bottom{
    display: flex;
    flex-direction: raw;
    justify-content: space-between;
}

.footer__logommi{
    animation: breathing 3s ease-in-out infinite;
}

@keyframes breathing {
    0% {
      transform: scale(1);
       /* échelle de l'image au départ */
    }
    50% {
      transform: scale(0.85);
       /* échelle de l'image à la moitié de l'animation */
    }
    100% {
      transform: scale(1); /* échelle de l'image à la fin de l'animation */
      
    }
  }
  




