.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--menu-color);
    padding: 5%;
    
    
}

.footer__contact{
   
    color: var(--text-color);
    
}

.footer__mail{
    margin: 0;
    text-decoration: underline;

}

.footer__explication{
    color: var(--text-color);
    
}


.footer__nom{
    text-align: center;
    color: var(--text-color);
}

.footer__logommi{
    display: block;
    text-align: right;
}
