.header{
    background-color: var(--menu-color);
    height: 73px;
    display: flex;
    
    align-items: center;
}





.header__logo{
   margin-top: 10%;
   z-index: 2;
}

.header__langue {
    margin: 2%;
}




.header__menuBtn{
    background: none;
    border-style: none;
    padding-left: 10px;
    width: 89px;
    z-index: 2;
}

.header__div{
    background-color: var(--menu-color);
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}