.header__div{
    background-color: var(--menu-color);
    
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menuBtn{
    background: none;
    border-style: none;
    padding-left: 10px;
    width: 89px;
}

.header__logo{
   margin-top: 10%;
   z-index: 2;
}

.header__langue {
    padding-right: 10px;
}



.footer {
    display: block;
    background-color: var(--menu-color);
    
}

.footer__contact{
    padding-top: 10%;
    color: var(--text-color);
    margin: 5%;
}

.footer__mail{
    margin: 0;
    text-decoration: underline;

}

.footer__explication{
    color: var(--text-color);
    margin-left: 5%;
    margin-right: 5%;
}

.footer__nom{
    text-align: center;
    color: var(--text-color);
    
}

.footer__logommi{
    position: relative;
    padding-bottom: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: end;
}
