.header__div{
    background-color: var(--menu-color);
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menuBtn{
    background: none;
    border-style: none;
    padding-left: 10px;
    width: 89px;
    z-index: 2;
}

.header__logo{
   margin-top: 10%;
   z-index: 3;
}

.header__langue {
    padding-right: 10px;
}



.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--menu-color);
    padding: 5%;
    
    
}

.footer__contact{
   
    color: var(--text-color);
    
}

.footer__mail{
    margin: 0;
    text-decoration: underline;

}

.footer__explication{
    color: var(--text-color);
    
}


.footer__nom{
    text-align: center;
    color: var(--text-color);
}

.footer__logommi{
    display: block;
    text-align: right;
}
