

.card{
    width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-left: 5%;
    background-color: var(--menu-color);
    border-radius: 5%;
    border: 2px solid var(--tonic-color);
}

.card__img{
    justify-content: center;
    object-fit: cover;
    height: 323px;
    width: 298px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom: 2px solid var(--tonic-color);
    width: 100%;
}

.card__title{
    text-decoration: none;
    color: var(--text-color);
    margin: 0%;
    top: 5%;
    margin-left: 3%;
    width: 90%;
    
}

.card__description{
    margin: 0%;
    margin-top: 3%;
    margin-bottom: 3%;
    color: var(--text-color);
    margin-left: 3%;
    width: 90%;
    text-decoration: none;
}

.couv{
    position: relative;
    height: 40%;
}
.couv__img{
    
    display: block;
    width: 101%;
    padding: 0;
    margin: 0;
    filter: grayscale(1);
}


.couv__title{
    position: absolute;
    top: 60%;
    padding-left: 3%;
    color: var(--text-color);
    margin-right: 5%;
    font-size: var(--heading-1);
    background-color: rgba(170, 0, 0, 0.5);
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    width: 25%;
    

}